<article class="media content-section">
    
    <div class="media-body">
      <div class="article-metadata">
        <img src="{{ post.author.avatar(36) }}"> <a href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a> says:
      </div>
     
      <p class="article-content">{{ post.body }}</p>

      {% if post.author == current_user %}
          <div>
           
            <a class="btn btn-danger btn-sm m-1" href="{{ url_for('main.delete_post', post_id=post.id) }}">Delete</a>

          </div>
          
        {% endif %}
    </div>
  </article>
